node_modules
public
.tmp
.sass-cache
app/bower_components
heroku
/views
dist
.vagrant
.bash_history
.sudo_as_admin_successful
.cache
.dbshell
.config
.node-gyp
.npm
tmp
npm-debug.log
beschrijving.pdf
